@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font: 0.75em Gotham-Light,agothic10,'나눔고딕','Nanum Gothic',Verdana,Dotum,AppleGothic,sans-serif;
    color: #796245;
}

.no-select {
  user-select: none;
}

div > img {
  transition: all 0.5s ease-in-out;
}

div > img:hover {
  box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
  transform: translate(0, -6px);
}
  